listing13-20.wsdl

<!-- A sample WSDL -->
<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
   targetNamespace="http://example.com/customer.wsdl"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/customer.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/customer.wsdl">

           <s:element name="CustomerQuickAdd">
               <s:complexType>
                  <s:sequence>
                     <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
                     <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
                  </s:sequence>
               </s:complexType>
           </s:element>

           <s:element name="CustomerQuickAddResponse">
               <s:complexType>
                   <s:sequence>
                      <s:element minOccurs="1" maxOccurs="1" name="customerQuickAddResult" type="s:int" />
                      <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
                   </s:sequence>
                </s:complexType>
           </s:element>

        </s:schema>
    </wsdl:types>

    <wsdl:message name="CustomerQuickAddSoapIn">
        <wsdl:part name="parameters" element="tns:CustomerQuickAdd" />
    </wsdl:message>

    <wsdl:message name="CustomerQuickAddSoapOut">
        <wsdl:part name="parameters" element="tns:CustomerQuickAddResponse" />
    </wsdl:message>

    <wsdl:portType name="CustomerSoap">

        <wsdl:operation name="CustomerQuickAdd">
            <wsdl:input message="tns:CustomerQuickAddSoapIn" />
            <wsdl:output message="tns:CustomerQuickAddSoapOut" />
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="CustomerSoap" type="tns:CustomerSoap">

        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="CustomerQuickAdd">
           <soap:operation soapAction="http://example.com/CustomerQuickAdd" style="document" />
              <wsdl:input>
                 <soap:body use="literal" />
              </wsdl:input>
              <wsdl:output>
                 <soap:body use="literal" />
              </wsdl:output>
         </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="Customer">
        <wsdl:port name="CustomerSoap" binding="tns:CustomerSoap">
            <soap:address location="http://example.com/customer.asmx"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions
