listing13-14.wsdl

<!-- A sample WSDL -->

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
    targetNamespace="http://example.com/customer.wsdl"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://example.com/customer.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>     
        <s:schema elementFormDefault="qualified" targetNamespace="http://example.com/customer.wsdl">           
       
        <s:complexType name="Customer">
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="fname" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="lname" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
                <s:element minOccurs="1" maxOccurs="unbounded" name="order" type="tns:OrderNumber" />
                <s:element minOccurs="1" maxOccurs="unbounded" name="address" type="tns:Address" />
            </s:sequence>
        </s:complexType>
       
        <s:complexType name="OrderNumber">
            <s:simpleContent>
                <s:extension base="s:string" />
            </s:simpleContent>
        </s:complexType>
           
        <s:complexType name="Address">
            <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="address1" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="address2" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="city" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="state" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" name="zip" type="s:string" />
            </s:sequence>
            <s:attribute name="type" type="s:string" />
        </s:complexType>       
       
        </s:schema>
    </wsdl:types>
 
    <wsdl:message name="CustomerUpdateInput">
        <wsdl:part name="updateParams" type="tns:Customer" /> 
    </wsdl:message>  
   
    <wsdl:portType name="CustomerPortType">       
        <wsdl:operation name="UpdateCustomer">
            <wsdl:input message="tns:CustomerUpdateInput" />
        </wsdl:operation>       
    </wsdl:portType>

    <wsdl:binding name="CustomerSoapBinding" type="tns:CustomerPortType">   
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />       
        <wsdl:operation name="UpdateCustomer">
            <soap:operation soapAction="http://example.com/UpdateCustomer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CustomerService">
        <wsdl:port name="CustomerPort" binding="tns:CustomerSoapBinding">
            <soap:address location="http://example.com/customer" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions> 